<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%=@team_data[:name]%></h1>
    <p1>: <%=@team_data[:]%></p1>


 </body>
</html>


